{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}
    {% if subtitle %}{{ subtitle }} | {% endif %}
    {{ title }} | Wiki Greblje
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    <link
        rel="stylesheet"
        href="{% static 'graves/css/admin.css' %}"
    >

    <link
        rel="icon"
        type="image/png"
        href="{% static 'graves/images/branding/wiki-greblje-icon.png' %}"
    >

    <script
        src="{% static 'graves/js/admin_changelist.js' %}"
        defer
    ></script>
{% endblock %}

{% block branding %}
    <div class="wg-admin-brand">

        <img
            src="{% static 'graves/images/branding/wiki-greblje-logo.png' %}"
            alt="Wiki Greblje"
            class="wg-admin-brand-logo"
        >

        <div>
            <div class="wg-admin-brand-title">
                Wiki Greblje
            </div>

            <div class="wg-admin-brand-subtitle">
                Administracija i moderacija
            </div>
        </div>

    </div>
{% endblock %}

{% block nav-global %}
{% endblock %}